<section id="products" class="products-section">
    <div class="container">

      
      <h2 class="section-title">Våra Dojor</h2>

      <div class="product-grid">

        <!-- PRODUKT -->
  
          <article class="card" hx-get="komp/nike.html" hx-target="#products">
          <div class="card-img-wrap">
            <img
              src="https://images.unsplash.com/photo-1543508282-6319a3e2621f?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c2hvZXN8ZW58MHx8MHx8fDA%3D"
              alt="Produktnamn 1">
            <span class="badge">Nyhet</span>
          </div>

          <div class="card-info" >
            <h3>Nike air black edition</h3>
            <p class="price">2999 kr</p>
            <button class="btn-small">Köp nu</button>
          </div>
        </article>








    

        

        <!-- PRODUKT -->
        <article class="card" hx-get="komp/nike2.html" hx-target="#products">
          <div class="card-img-wrap">
            <img
              src="https://images.unsplash.com/photo-1512374382149-233c42b6a83b?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHNob2VzfGVufDB8fDB8fHww"
              alt="Produktnamn 2">
          </div>

          <div class="card-info">
            <h3>Nike Dojor Vita</h3>
            <p class="price">4995 kr</p>
            <button class="btn-small">Köp nu</button>
          </div>
        </article>

        <!-- PRODUKT -->
        <article class="card" hx-get="komp/nike3.html" hx-target="#products">
          <div class="card-img-wrap">
            <img
              src="https://images.unsplash.com/photo-1641893843833-a006778dc00b?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZmFuY3klMjBzaG9lcyUyMGJyb3duJUMyJUE4fGVufDB8fDB8fHww"
              alt="Produktnamn 3">
            <span class="badge sale">Rea</span>
          </div>

          <div class="card-info">
            <h3>Dumlekolor</h3>
            <p class="price">999 kr</p>
            <button class="btn-small">Köp nu</button>
          </div>
        </article>

        <!-- PRODUKT -->
        <article class="card"hx-get="komp/nike4.html" hx-target="#products">
          <div class="card-img-wrap">
            <img
              src="chris6.jpg"
              alt="Produktnamn 4">
          </div>

          <div class="card-info">
            <h3>CHRIS6 Limited Edition</h3>
            <p class="price">2495 kr</p>
            <button class="btn-small">Köp nu</button>
          </div>
        </article>

      </div>
      

    </div>
  </section>

  <!-- ===== OM OSS ===== -->

  <section id="about" class="about-section">
    <div class="container about-inner">

      
      <div class="about-text">
        <h2>Om oss</h2>
        <p>
          Välkommen till CHRIS6 Dojor, din destination för stilrena, bekväma och trendiga skor. Vi brinner för att
          erbjuda ett noggrant utvalt sortiment av dojor som passar både vardag och fest. Hos oss hittar du allt från
          klassiska modeller till de senaste trenderna inom streetwear.
        </p>
        <p>
          Vårt mål är att kombinera kvalitet, komfort och stil så att du alltid kan känna dig självsäker i varje steg du
          tar. Vi sätter kunden i fokus och strävar efter att ge en smidig och inspirerande shoppingupplevelse.
        </p>
        <p>
          CHRIS6 Dojor handlar inte bara om skor, det handlar om att uttrycka din personliga stil.
        </p>
      </div>

      <div class="about-img">
        <div class="imgbox">
          <img
            src="https://images.unsplash.com/photo-1696954895409-3a4c4e755e15?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzEwfHxzaG9lc3xlbnwwfHwwfHx8MA%3D%3D"
            alt="Om oss">

        </div>
        <div class="imgbox">
          <img
            src="https://images.unsplash.com/photo-1552346154-21d32810aba3?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fG5pa2UlMjBzaG9lc3xlbnwwfHwwfHx8MA%3D%3D"
            alt="Om oss">

        </div>
        <div class="imgbox">
          <img
            src="https://images.unsplash.com/photo-1644426059269-36535c7c00fc?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bmlrZSUyMHNob2VzfGVufDB8fDB8fHww"
            alt="Om oss">

        </div>
        <div class="imgbox">
          <img
            src="https://images.unsplash.com/photo-1628253747716-0c4f5c90fdda?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDB8fG5pa2UlMjBzaG9lc3xlbnwwfHwwfHx8MA%3D%3D"
            alt="Om oss">

        </div>


      </div>

      

    </div>
  </section>