*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header,main,footer{
    border: 2px solid rgb(140, 140, 170);
    padding: 2%;
    background-color: rgb(250, 246, 242);
    margin: 0.5rem;


}


nav{

    border: solid rgb(153, 149, 150);
    padding: 4%;

    display: grid;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(36, 35, 35);
    font-size: 1.3rem;
}


main{

    display: grid;

    gap: 15px;
    
}

.imgbox {

    border: 2px solid rgb(99, 91, 91);
    padding: 1%;
    aspect-ratio: 1/1;
    
}

img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textbox{
    border: 2px solid rgb(104, 101, 102);
    padding: 2%;
    place-items: center;
}


#contact{
    place-items: center;
}





@media(min-width: 650px){
    nav{
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;


    }
    
    .indexMain{

        grid-template-columns: 1fr 1fr 1fr;
    }

}






.hidden{
    display: none;
}






.menuButton{
    font-size: 3rem;
}

html{scroll-behavior: smooth;}




   